* {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    margin: 0;
}

/* style header */

#fixed-header {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 25px;
}

#fixed-header a {
    color: black;
    text-decoration: none;
}

#fixed-header li {
    list-style-type: none;
}

nav {
    float: right;
}

nav ul li{
    display: none;
} 

@media only screen and (min-width: 600px) {
    nav ul li{
        display: inline-block;
        margin: 0 10px;
    }
    nav ul {
        margin-top: 0;
    }
    .bars {
        display: none;
    }
    li ul li {
        display: block;
    }
    li ul {
        padding-left: 15px;
        display: none;
    }
    ul li:hover ul {
        display: block;
    }
}

/* style du main */

main{
    margin: 0 20px;
}

#mairie {
    padding-top: 100px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-top: 25px;
    box-shadow: 2px 2px 2px #e9e9e9 ;
}
#image {
    width: 120px;
    height: 120px;
    background-color: #bcbcbc;
    text-align: center;
}
main a {
    text-decoration: none;
    color: black;
    padding: 10px;
    box-shadow: 2px 2px 2px #e9e9e9;

}
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 2px solid #dddddd;
    padding: 10px;
    text-align: left;
}
td {
    border: 2px solid #dddddd;
    padding: 10px;
 
}
@media only screen and (min-width: 600px) {
    main{
        width: 90%;
        margin: auto;
        display: flex;
    }
    main > section:nth-child(1) {
        width: 60%;
        margin-right: 5%;
    }
    main > section:nth-child(2) {
        width: 40%;
        margin-top: 100px;
    }
    .infos {
        display: flex;
    }
    h4 {
        margin-top: 0;
    }
    .infos div {
        margin-right: 25px;
    }
}
